@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;
    --color-background: #F9FAFB;
    --color-background-dark: #111827;
}

.custom-container {
    @apply pt-4 pb-8 px-4 bg-white dark:bg-gray-800 shadow rounded-lg dark:border dark:border-gray-700;
}

.opened-modal {
    @apply h-screen overflow-y-hidden;
}

/* Components */
@layer components {
    .btn {
        @apply focus:ring-4 font-medium rounded-lg text-sm px-5 py-2 focus:outline-none;
    }

    .btn-outline {
        @apply text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-gray-100 dark:focus:ring-gray-700 dark:hover:text-white;
    }

    .btn-primary {
        @apply text-white bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
    }
    
    .btn-primary-outline {
        @apply hover:text-primary-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700;
    }

    .btn-danger-outline {
        @apply hover:text-red-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700;
    }

    .btn-danger {
        @apply text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
    }

    .btn-flex {
        @apply flex items-center justify-between;
    }

    .component-container {
        @apply bg-white dark:bg-gray-800 border border-gray-200 rounded;
    }

    .default-hr {
        @apply h-px my-3 bg-gray-200 border-0 dark:bg-gray-700;
    }
}